---
- name: Configure Gnome
  hosts: localhost
  connection: local
  become: false

  tasks:
    - name: Install psutil (required to work with dconf)
      become: true
      ansible.builtin.dnf:
        name: python3-psutil

    - name: Add minimize and maximize buttons to windows layout
      community.general.dconf:
        key: /org/gnome/desktop/wm/preferences/button-layout
        value: "'appmenu:minimize,maximize,close'"

    - name: Make tapping the touchpad equivalent to clicking
      community.general.dconf:
        key: /org/gnome/desktop/peripherals/touchpad/tap-to-click
        value: true

    - name: Use 4 workspaces
      community.general.dconf:
        key: /org/gnome/desktop/wm/preferences/num-workspaces
        value: 4

    - name: Disable dynamic workspaces
      community.general.dconf:
        key: /org/gnome/mutter/dynamic-workspaces
        value: false

    - name: Setup keybindings
      block:
        - name: Change system keybindings
          community.general.dconf:
            key: "{{ item.key }}"
            value: "{{ item.value }}"
          loop:
            # Window management
            - { key: "/org/gnome/desktop/wm/keybindings/close", value: "['<Shift><Super>q']" }
            - { key: "/org/gnome/desktop/wm/keybindings/begin-move", value: "['<Super>m']" }
            - { key: "/org/gnome/desktop/wm/keybindings/maximize", value: "['<Super>Up']" }
            - { key: "/org/gnome/settings-daemon/plugins/media-keys/help", value: "'[]'" }
            # Workspace assignment
            - { key: "/org/gnome/desktop/wm/keybindings/move-to-workspace-1", value: "['<Super>F1']" }
            - { key: "/org/gnome/desktop/wm/keybindings/move-to-workspace-2", value: "['<Super>F2']" }
            - { key: "/org/gnome/desktop/wm/keybindings/move-to-workspace-3", value: "['<Super>F3']" }
            - { key: "/org/gnome/desktop/wm/keybindings/move-to-workspace-4", value: "['<Super>F4']" }
            # Clear app switch shortcuts
            - { key: "/org/gnome/shell/keybindings/switch-to-application-1", value: "@as []" }
            - { key: "/org/gnome/shell/keybindings/switch-to-application-2", value: "@as []" }
            - { key: "/org/gnome/shell/keybindings/switch-to-application-3", value: "@as []" }
            - { key: "/org/gnome/shell/keybindings/switch-to-application-4", value: "@as []" }
            # Workspace switching
            - { key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-1", value: "['<Super>1']" }
            - { key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-2", value: "['<Super>2']" }
            - { key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-3", value: "['<Super>3']" }
            - { key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-4", value: "['<Super>4']" }

        - name: Enable custom keybindings
          block:
            - name: Set custom keybindings list
              community.general.dconf:
                key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings"
                value: >
                  [
                    '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/',
                    '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/',
                    '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2/'
                  ]

            - name: Set Super+Return binding for terminal
              community.general.dconf:
                key: "{{ item.key }}"
                value: "{{ item.value }}"
              loop:
                - { key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/name", value: "'Terminal'" }
                - { key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/command", value: "'kitty'" }
                - { key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/binding", value: "'<Super>Return'" }

            - name: Set Super+; binding for Characters app
              community.general.dconf:
                key: "{{ item.key }}"
                value: "{{ item.value }}"
              loop:
                - { key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/name", value: "'Characters'" }
                - { key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/command", value: "'gnome-characters'" }
                - { key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/binding", value: "'<Super>semicolon'" }

            - name: Set Ctrl+Shift+Esc binding for System Monitor app
              community.general.dconf:
                key: "{{ item.key }}"
                value: "{{ item.value }}"
              loop:
                - { key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2/name", value: "'System Monitor'" }
                - { key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2/command", value: "'gnome-system-monitor'" }
                - { key: "/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2/binding", value: "'<Shift><Control>Escape'" }

    - name: Install ExtensionManager
      community.general.flatpak:
        name: com.mattjakeman.ExtensionManager
