---
- name: Setup installers
  hosts: localhost
  connection: local
  become: true

  tasks:
    - name: Install python3-libdnf5 (required to work with dnf)
      ansible.builtin.command: "dnf install python3-libdnf5 --assumeyes"
      register: my_output
      changed_when: my_output.stdout != "Nothing to do."

    - name: Update dnf packages
      ansible.builtin.dnf:
        name: "*"
        state: latest
        update_only: true

    - name: Upgrade dnf's 'core' group
      ansible.builtin.dnf:
        name: "@core"
        state: latest
      tags:
        - skip_ansible_lint # Because updating group may install new packages.

    - name: Add more RPM repositories
      block:
        - name: Install RPMFusion repositories
          ansible.builtin.dnf:
            name: "https://mirrors.rpmfusion.org/{{ item }}"
            state: present
            disable_gpg_check: true
          loop:
            - "free/fedora/rpmfusion-free-release-{{ ansible_facts['distribution_major_version'] }}.noarch.rpm"
            - "nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_facts['distribution_major_version'] }}.noarch.rpm"

        - name: Install Terra repository
          block:
            - name: Add Terra repository
              ansible.builtin.copy:
                dest: /etc/yum.repos.d/terra.repo
                content: |
                  [terra]
                  name=Terra Repo
                  baseurl=https://repos.fyralabs.com/terra$releasever
                  enabled=1
                  gpgcheck=0
                mode: "0644"

            - name: Install terra-release package
              ansible.builtin.dnf:
                name: terra-release
                state: present

    - name: Ensure the Flathub remote is configured for Flatpak
      community.general.flatpak_remote:
        name: flathub
        state: present
        method: system
        flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo

    - name: Enable AppImage
      block:
        - name: Install Fuse
          ansible.builtin.dnf:
            name: fuse
            state: present

        - name: Install Gearlever
          community.general.flatpak:
            name: it.mijorus.gearlever
            state: present

    - name: Configure Snap
      block:
        - name: Install snapd package
          ansible.builtin.dnf:
            name: snapd
            state: present

        - name: Ensure classic snap support symlink exists
          ansible.builtin.file:
            src: /var/lib/snapd/snap
            dest: /snap
            state: link
            force: true

    # cargo, pip & uv are setup in apps/
