---
- name: Configure Gnome extensions
  hosts: localhost
  connection: local
  become: false

  tasks:

    - name: Install extensions
      ansible.builtin.dnf:
        name:
          - gnome-shell-extension-appindicator
          - gnome-shell-extension-blur-my-shell
          - gnome-shell-extension-caffeine
          - gnome-shell-extension-drive-menu
          - gnome-shell-extension-freon
          - gnome-shell-extension-just-perfection
          - gnome-shell-extension-user-theme
          - gnome-shell-extension-workspace-indicator
      become: true

    - name: Enable available extensions
      ansible.builtin.include_tasks: "enable_extension.yml"
      loop:
        - appindicatorsupport@rgcjonas.gmail.com
        - blur-my-shell@aunetx
        - caffeine@patapon.info
        - drive-menu@gnome-shell-extensions.gcampax.github.com
        - freon@UshakovVasilii_Github.yahoo.com
        - just-perfection-desktop@just-perfection
        - user-theme@gnome-shell-extensions.gcampax.github.com
      loop_control:
        loop_var: extension_name
