---
- name: Configure misc Gnome settings
  hosts: localhost
  connection: local
  become: false

  tasks:

    - name: Add minimize and maximize buttons to windows layout
      community.general.dconf:
        key: /org/gnome/desktop/wm/preferences/button-layout
        value: "'appmenu:minimize,maximize,close'"

    - name: Make tapping the touchpad equivalent to clicking
      community.general.dconf:
        key: /org/gnome/desktop/peripherals/touchpad/tap-to-click
        value: true

    - name: Use 8 workspaces by default
      community.general.dconf:
        key: /org/gnome/desktop/wm/preferences/num-workspaces
        value: 8

    - name: Disable dynamic workspaces
      community.general.dconf:
        key: /org/gnome/mutter/dynamic-workspaces
        value: false

    - name: Set favorite apps
      community.general.dconf:
        key: /org/gnome/shell/favorite-apps
        value: "['librewolf.desktop', 'org.gnome.Nautilus.desktop', 'kitty.desktop']"

    - name: Enable night light all the time
      community.general.dconf:
        key: "{{ item.key }}"
        value: "{{ item.value }}"
      loop:
        - { key: "/org/gnome/settings-daemon/plugins/color/night-light-enabled", value: "true" }
        - { key: "/org/gnome/settings-daemon/plugins/color/night-light-schedule-from", value: "12.0" }
        - { key: "/org/gnome/settings-daemon/plugins/color/night-light-schedule-to", value: "12.0" }

    - name: Use dark theme
      community.general.dconf:
        key: "/org/gnome/desktop/interface/color-scheme"
        value: "'prefer-dark'"
