---
- name: Configure the applications
  hosts: localhost
  connection: local
  become: true
  tasks:
    - name: Update pacman packages
      community.general.pacman:
        update_cache: true
        upgrade: true

    # TODO: put that in the installer part
    - name: Setup AUR - Ansible compatibility
      block:
        - name: Create the aur_builder user
          become: true
          ansible.builtin.user:
            name: aur_builder
            create_home: true
            group: wheel

        - name: Allow the aur_builder user to run sudo pacman without a password
          become: true
          ansible.builtin.lineinfile:
            path: /etc/sudoers.d/11-install-aur_builder
            line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
            create: true
            mode: '0644'
            validate: 'visudo -cf %s'

    - name: Upgrade AUR packages
      kewlfft.aur.aur:
        upgrade: true
        aur_only: true
      become: true
      become_user: aur_builder
      vars:
        ansible_python_interpreter: /usr/bin/python

    - name: LibreWolf installation & setup
      become: false
      block:
        - name: Install LibreWolf
          kewlfft.aur.aur:
            name: librewolf-bin
          become: true
          become_user: aur_builder
          vars:
            ansible_python_interpreter: /usr/bin/python3

        - name: Get current default browser
          ansible.builtin.command: xdg-settings get default-web-browser
          register: current_browser
          changed_when: false

        - name: Set LibreWolf as default browser if not already
          ansible.builtin.command: xdg-settings set default-web-browser librewolf.desktop
          when: current_browser.stdout != "librewolf.desktop"
          changed_when: true

        - name: Customize LibreWolf via policies.json (extensions & settings)
          ansible.builtin.copy:
            src: librewolf-policies.json
            dest: /usr/lib/librewolf/distribution/policies.json
            owner: root
            group: root
            mode: "0644"
          become: true

    - name: Install VSCode
      community.general.pacman:
        name: code

    - name: Install CLI tools
      block:
        - name: Install bat (cat with color)
          community.general.pacman:
            name: bat

        - name: Install eza (better ls)
          community.general.pacman:
            name: eza

        - name: Install zoxide (better cd)
          community.general.pacman:
            name: zoxide

        - name: Install Neovim (newer Vim)
          community.general.pacman:
            name: neovim

        - name: Install Tmux (terminal multiplexer)
          community.general.pacman:
            name: tmux
            state: present

        - name: Install fzf (fuzzy finder)
          community.general.pacman:
            name: fzf

        - name: Install wl-clipboard (for wl-copy)
          community.general.pacman:
            name: wl-clipboard

        # TODO: re-enable when pipx will be available.
        # - name: Install bpython
        #   become: false
        #   community.general.pipx:
        #     name: bpython
        #     executable: /usr/bin/pipx
        #     state: present

    - name: Install spellcheckers
      block:
        - name: Install hunspell dictionaries
          community.general.pacman:
            name:
              - hunspell-en_us
              - hunspell-fr
            state: present

        - name: Install LanguageTool
          community.general.pacman:
            name: languagetool
            state: present

    # TODO: uninstall unused preinstalled apps
