---
- name: Setup installers
  hosts: localhost
  connection: local
  become: true
  tasks:

    - name: Install Pip
      community.general.pacman:
        name: python-pip

    - name: Configure Pipx
      block:
        - name: Install Pipx
          community.general.pacman:
            name: python-pipx

        - name: Enable Pipx
          ansible.builtin.command: pipx ensurepath
          become: false
          register: ensurepath_output
          changed_when: "'/.local/bin is already in PATH' not in ensurepath_output.stdout"
